#pane{
    -fx-background-image: url(GUILogin.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 500 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}